In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [13]:
url="https://www.iplt20.com/auction/2022"
r=requests.get(url)
r
soup=BeautifulSoup(r.text,"lxml")
# soup

In [4]:
t=soup.find("table",class_="ih-td-tab auction-tbl")
t
title=t.find_all("th")

In [5]:
header=[]
for i in title:
    name=i.text
    header.append(name)
header

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [6]:
df=pd.DataFrame(columns=header)
df
row=t.find_all("tr")

In [12]:
for i in row[1:]:
    first_td=i.find_all("td")[0].find("div",class_="ih-pt-ic").text.strip()
    data=i.find_all("td")[1:]
    data
    rows=[tr.text for tr in data]
    rows.insert(0,first_td)
    rows
    l=len(df)
    df.loc[l]=rows
df.head(9)

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹2,95,00,000                 8            25
1               Delhi Capitals      ₹10,00,000                 7            24
2               Gujarat Titans      ₹15,00,000                 8            23
3        Kolkata Knight Riders      ₹45,00,000                 8            25
4         Lucknow Super Giants              ₹0                 7            21
5               Mumbai Indians      ₹10,00,000                 8            25
6                 Punjab Kings    ₹3,45,00,000                 7            25
7             Rajasthan Royals      ₹95,00,000                 8            24
8  Royal Challengers Bangalore    ₹1,55,00,000                 8            22

In [11]:
df.to_csv("ipl.csv")
df.head(9)

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹2,95,00,000                 8            25
1               Delhi Capitals      ₹10,00,000                 7            24
2               Gujarat Titans      ₹15,00,000                 8            23
3        Kolkata Knight Riders      ₹45,00,000                 8            25
4         Lucknow Super Giants              ₹0                 7            21
5               Mumbai Indians      ₹10,00,000                 8            25
6                 Punjab Kings    ₹3,45,00,000                 7            25
7             Rajasthan Royals      ₹95,00,000                 8            24
8  Royal Challengers Bangalore    ₹1,55,00,000                 8            22